
* {
  box-sizing: border-box;
} */
body {
  font-size: 14px;
}
.v369_1583 {
  width: 100%;
  height: 4185px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v369_1584 {
  width: 100%;
  height: 824px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v369_1585 {
  width: 100%;
  height: 747px;
  background: rgba(37,173,215,0.6499999761581421);
  opacity: 0.23999999463558197;
  position: absolute;
  top: 77px;
  left: 182px;
}
.v369_1586 {
  width: 100%;
  height: 746px;
  background: rgba(149,207,129,1);
  opacity: 0.23999999463558197;
  position: absolute;
  top: 61px;
  left: 183px;
}
.v369_1587 {
  width: 100%;
  height: 806px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 215px;
}
.name {
  color: #fff;
}
.v369_1598 {
  width: 865px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 328px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v369_1600 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 984px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v369_1601 {
  width: 76px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 49px;
  left: 1083px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v369_1602 {
  width: 186px;
  height: 53px;
  background: rgba(255,103,1,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 1189px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v369_1603 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 1205px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v369_1604 {
  width: 100%;
  height: 902px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 1458px;
  transform: rotate(-179deg);
}
.v369_1605 {
  width: 633px;
  color: url("../images/v369_1605.png");
  position: absolute;
  top: 937px;
  left: 102px;
  font-family: Poppins;
  font-weight: SemiBold;
  opacity: 1;
  text-align: center;
}
.v369_1606 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1037px;
  left: 105px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v369_1607 {
  width: 402px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2211px;
  left: 528px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v369_1608 {
  width: 450px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2266px;
  left: 504px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1609 {
  width: 549px;
  height: 254px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 2346px;
  left: 164px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1610 {
  width: 549px;
  height: 254px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 2346px;
  left: 744px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1611 {
  width: 535px;
  height: 254px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 2631px;
  left: 758px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1612 {
  width: 549px;
  height: 254px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 2631px;
  left: 164px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1613 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2435px;
  left: 191px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1614 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2443px;
  left: 792px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1615 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2718px;
  left: 792px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1616 {
  width: 34px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2736px;
  left: 191px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1617 {
  width: 428px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2396px;
  left: 258px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1618 {
  width: 282px;
  color: url("../images/v369_1618.png");
  position: absolute;
  top: 2418px;
  left: 867px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1619 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2687px;
  left: 845px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1620 {
  width: 85px;
  height: 33px;
  background: url("../images/v369_1620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2455px;
  left: 695px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v369_1624 {
  width: 44px;
  height: 67px;
  background: url("../images/v369_1624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2590px;
  left: 1039px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v369_1628 {
  width: 91px;
  height: 33px;
  background: url("../images/v369_1628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2732px;
  left: 679px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v369_1632 {
  width: 390px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2690px;
  left: 258px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1633 {
  width: 8px;
  height: 14px;
  background: url("../images/v369_1633.png");
  opacity: 1;
  position: absolute;
  top: 2345px;
  left: 1729px;
  border: 3px solid rgba(32,34,73,1);
}
.v369_1634 {
  width: 8px;
  height: 14px;
  background: url("../images/v369_1634.png");
  opacity: 1;
  position: absolute;
  top: 2433px;
  left: 1729px;
  border: 3px solid rgba(32,34,73,1);
}
.v369_1635 {
  width: 8px;
  height: 14px;
  background: url("../images/v369_1635.png");
  opacity: 1;
  position: absolute;
  top: 2521px;
  left: 1729px;
  border: 3px solid rgba(32,34,73,1);
}
.v369_1636 {
  width: 8px;
  height: 14px;
  background: url("../images/v369_1636.png");
  opacity: 1;
  position: absolute;
  top: 2609px;
  left: 1729px;
  border: 3px solid rgba(32,34,73,1);
}
.v369_1637 {
  width: 100%;
  height: 697px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 3012px;
  left: 0px;
  overflow: hidden;
}
.v369_1638 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 463px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1639 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 552px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1640 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 659px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1641 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 763px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1642 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 864px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1643 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 968px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1644 {
  width: 26px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 1072px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1645 {
  width: 26px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3531px;
  left: 1176px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1646 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3258px;
  left: 199px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v369_1647 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3356px;
  left: 199px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v369_1648 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3457px;
  left: 199px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v369_1649 {
  width: 559px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3119px;
  left: 435px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v369_1650 {
  width: 409px;
  color: url("../images/v369_1650.png");
  position: absolute;
  top: 3054px;
  left: 519px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v369_1651 {
  width: 728px;
  height: 87px;
  background: url("../images/v369_1651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3425px;
  left: 463px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1652 {
  width: 728px;
  height: 94px;
  background: url("../images/v369_1652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3331px;
  left: 463px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1653 {
  width: 728px;
  height: 95px;
  background: url("../images/v369_1653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 463px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1654 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 567px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1655 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 671px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1656 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 775px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1657 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 879px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1658 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 983px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1659 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 1087px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1660 {
  width: 276px;
  height: 103px;
  background: url("../images/v369_1660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3236px;
  left: 1191px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v369_1661 {
  width: 390px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3258px;
  left: 463px;
  overflow: hidden;
}
.v369_1662 {
  width: 264px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3350px;
  left: 463px;
  overflow: hidden;
}
.v369_1663 {
  width: 29px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3442px;
  left: 463px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
