* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v199_678 {
    width: 100%;
    height: 1024px;
    background: rgba(32,34,73,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v199_680 {
    width: 100%;
    height: 100%;
    background: url("../images/v199_680.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 63px;
    left: 22px;
    overflow: hidden;
  }
  .v199_681 {
    width: 100%;
    height: 100%;
    background: url("../images/v199_681.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v199_682 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v286_1354 {
    width: 311px;
    height: 311px;
    background: rgba(32,34,73,1);
    opacity: 1;
    position: absolute;
    top: 298px;
    left: 586px;
    border-radius: 50%;
  }
  .v286_1355 {
    width: 452px;
    height: 532px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 494px;
    overflow: hidden;
  }
  .v199_683 {
    width: 450px;
    height: 532px;
    background: rgba(255,255,255,0.25);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 12px rgba(1, 1, 1, 0.25);
    overflow: hidden;
  }
  .v199_684 {
    width: 203px;
    color: url("../images/v199_684.png");
    position: absolute;
    top: 128px;
    left: 126px;
    font-family: Poppins;
    font-weight: SemiBold;
    opacity: 1;
    text-align: center;
  }
  .v199_686 {
    width: 280px;
    height: 63px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_687 {
    width: 280px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_689 {
    width: 191px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 235px;
    left: 144px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v199_690 {
    width: 132px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 312px;
    left: 144px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v199_692 {
    width: 297px;
    height: 45px;
    background: linear-gradient(rgba(113,153,203,1), rgba(149,207,129,0.8500000238418579));
    opacity: 1;
    position: absolute;
    top: 399px;
    left: 91px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_693 {
    width: 56px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 406px;
    left: 211px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v199_694 {
    width: 12px;
    height: 14px;
    background: url("../images/v199_694.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 236px;
    left: 119px;
    overflow: hidden;
  }
  .v199_695 {
    width: 12px;
    height: 5px;
    background: url("../images/v199_695.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v199_696 {
    width: 6px;
    height: 6px;
    background: url("../images/v199_696.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v199_703 {
    width: 14px;
    height: 14px;
    background: url("../images/v199_703.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 314px;
    left: 121px;
    overflow: hidden;
  }
  .v199_704 {
    width: 14px;
    height: 14px;
    background: url("../images/v199_704.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v199_705 {
    width: 4px;
    height: 6px;
    background: url("../images/v199_705.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v199_706 {
    width: 2px;
    height: 2px;
    background: url("../images/v199_706.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 6px;
    overflow: hidden;
  }
  .v199_707 {
    width: 1px;
    height: 1px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
  }
  .v199_708 {
    width: 2px;
    height: 2px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .name {
    color: #fff;
  }
  .v199_725 {
    width: 13px;
    height: 13px;
    background: url("../images/v199_725.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 414px;
    left: 186px;
    overflow: hidden;
  }
  .v199_726 {
    width: 13px;
    height: 13px;
    background: url("../images/v199_726.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(255,255,255,1);
  }
  .v199_727 {
    width: 3px;
    height: 3px;
    background: url("../images/v199_727.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 9px;
    border: 1.5px solid rgba(255,255,255,1);
  }
  .v202_716 {
    width: 194px;
    height: 38px;
    background: rgba(255,188,15,1);
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 141px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v202_719 {
    width: 5px;
    height: 8px;
    background: url("../images/v202_719.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 211px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v202_720 {
    width: 8px;
    height: 5px;
    background: url("../images/v202_720.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
  }
  .v202_721 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 470px;
    left: 224px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v299_2840 {
    width: 262px;
    height: 51px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 52px;
    left: 107px;
    overflow: hidden;
  }
  .v299_2841 {
    width: 203px;
    color: linear-gradient(rgba(255,255,255,1), rgba(4,158,219,1));
    position: absolute;
    top: 7px;
    left: 60px;
    text-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v299_2842 {
    width: 44px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .v299_2843 {
    width: 33px;
    height: 33px;
    background: url("../images/v299_2843.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 21px;
    overflow: hidden;
  }
  .v299_2844 {
    width: 33px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v299_2845 {
    width: 16px;
    height: 16px;
    background: linear-gradient(rgba(149,207,129,1), rgba(4,158,219,1));
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 6px;
    border-radius: 50%;
  }
  .v299_2846 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 27px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(-13deg);
    overflow: hidden;
  }
  .v299_2847 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(-131deg);
    overflow: hidden;
  }
  .v299_2848 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 39px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }