* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v369_2642 {
    width: 450px;
    height: 256px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v369_2643 {
    width: 450px;
    height: 256px;
    background: rgba(211,234,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid rgba(255,255,255,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v369_2644 {
    width: 221px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 94px;
    left: 108px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v369_2645 {
    width: 106px;
    height: 31px;
    background: url("../images/v369_2645.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 166px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .v369_2646 {
    width: 32px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 189px;
    left: 203px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v369_2647 {
    width: 56px;
    height: 26px;
    background: url("../images/v369_2647.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 191px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }