*{
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v369_1877 {
  width: 100%;
  height: 2752px;
  background: rgba(211,234,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v369_1878 {
  width: 268px;
  color: url("../images/v369_1878.png");
  position: absolute;
  top: 131px;
  left: 62px;
  opacity: 1;
  text-align: center;
}
.v369_1879 {
  width: 100%;
  color: url("../images/v369_1879.png");
  position: absolute;
  top: 186px;
  left: 63px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v369_1891 {
  width: 100%;
  height: 75px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2677px;
  left: 0px;
  overflow: hidden;
}
.v369_1892 {
  width: 368px;
  color: rgba(32,34,73,1);
  position: absolute;
  top: 2704px;
  left: 75px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v369_1894 {
  width: 100%;
  height: 1853px;
  background: url("../images/v369_1894.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 106px;
  overflow: hidden;
}
.v369_1895 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v369_1896 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 743px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v369_1897 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1584px;
  left: 233px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1898 {
  width: 220px;
  height: 66px;
  background: url("../images/v369_1898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1500px;
  left: 233px;
  overflow: hidden;
}
.v369_1899 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 739px;
  left: 392px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v369_1900 {
  width: 44px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 1446px;
  left: 285px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1901 {
  width: 44px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 737px;
  left: 285px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1902 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1446px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1903 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1500px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1904 {
  width: 105px;
  color: url("../images/v369_1904.png");
  position: absolute;
  top: 20px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v369_1905 {
  width: 248px;
  color: url("../images/v369_1905.png");
  position: absolute;
  top: 264px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v369_1906 {
  width: 183px;
  color: url("../images/v369_1906.png");
  position: absolute;
  top: 801px;
  left: 60px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v369_1907 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 56px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v369_1908 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 294px;
  left: 60px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v369_1909 {
  width: 560px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 831px;
  left: 60px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v369_1910 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 24px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1911 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 257px;
  left: 21px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1912 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 794px;
  left: 21px;
  font-family: Inria Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v369_1913 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1914 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1915 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 865px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1916 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1917 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1918 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 919px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1919 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 973px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1920 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1921 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1922 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1187px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1923 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1241px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1924 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1610px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1925 {
  width: 681px;
  height: 123px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1295px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1926 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1927 {
  width: 681px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1928 {
  width: 681px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 565px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1929 {
  width: 62px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 97px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1930 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 97px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1931 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 97px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1932 {
  width: 94px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 362px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1933 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 362px;
  left: 59px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1934 {
  width: 158px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 878px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1935 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 878px;
  left: 50px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1936 {
  width: 62px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 151px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1937 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1938 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1939 {
  width: 206px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 416px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1940 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 416px;
  left: 59px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1941 {
  width: 174px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 932px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1942 {
  width: 196px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 986px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1943 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 932px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1944 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 986px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1945 {
  width: 131px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 205px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1946 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 205px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1947 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 205px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1948 {
  width: 87px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 470px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1949 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 470px;
  left: 59px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1950 {
  width: 109px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 1200px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1951 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1200px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1952 {
  width: 109px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 1254px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1953 {
  width: 243px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 1623px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1954 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1254px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1955 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1310px;
  left: 55px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1956 {
  width: 193px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 1308px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1957 {
  width: 48px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 524px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1958 {
  width: 152px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 685px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1959 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 524px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1960 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 685px;
  left: 57px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1961 {
  width: 93px;
  color: rgba(111,105,105,1);
  position: absolute;
  top: 578px;
  left: 248px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1962 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 578px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1963 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 741px;
  left: 58px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1964 {
  width: 148px;
  height: 38px;
  background: url("../images/v369_1964.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1436px;
  left: 233px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v369_1965 {
  width: 148px;
  height: 38px;
  background: url("../images/v369_1965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 233px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v369_1967 {
  width: 681px;
  height: 155px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 233px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1968 {
  width: 18px;
  height: 18px;
  background: rgba(32,34,73,1);
  opacity: 1;
  position: absolute;
  top: 1079px;
  left: 248px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v369_1969 {
  width: 8px;
  height: 6px;
  background: url("../images/v369_1969.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2.0101077556610107px solid rgba(255,255,255,1);
}
.v369_1970 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1108px;
  left: 248px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v369_1971 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 248px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v369_1972 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1078px;
  left: 277px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1973 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1108px;
  left: 278px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1974 {
  width: 293px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1137px;
  left: 277px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v369_1975 {
  width: 656px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1029px;
  left: 246px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v369_1976 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1039px;
  left: 257px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v369_1978 {
  width: 14px;
  height: 12px;
  background: url("../images/v369_1978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1527px;
  left: 482px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v369_1986 {
  width: 8px;
  height: 5px;
  background: url("../images/v369_1986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 888px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v369_1987 {
  width: 8px;
  height: 5px;
  background: url("../images/v369_1987.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  transform: rotate(-180deg);
}
.name {
  color: #fff;
}
.v369_1992 {
  width: 14px;
  height: 13px;
  background: url("../images/v369_1992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2375px;
  left: 994px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v369_1997 {
  width: 15px;
  height: 14px;
  background: url("../images/v369_1997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2441px;
  left: 993px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v369_2002 {
  width: 13px;
  height: 14px;
  background: url("../images/v369_2002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2493px;
  left: 993px;
  overflow: hidden;
}
.v369_2003 {
  width: 13px;
  height: 14px;
  background: url("../images/v369_2003.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v369_2004 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2373px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2005 {
  width: 273px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 2390px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2006 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2491px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2007 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2543px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2008 {
  width: 14px;
  height: 13px;
  background: url("../images/v369_2008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2545px;
  left: 993px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v369_2012 {
  width: 34px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2439px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2013 {
  width: 270px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 2457px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2014 {
  width: 71px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 2511px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v369_2015 {
  width: 258px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 2565px;
  left: 1026px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
