background{
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v369_2666 {
    width: 100%;
    height: 1024px;
    background: rgba(211,234,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v369_2667 {
    width: 340px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 190px;
    left: 60px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v369_2669 {
    width: 41px;
    height: 43px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 1240px;
    overflow: hidden;
  }
  .v369_2670 {
    width: 39px;
    height: 39px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 2px;
    border-radius: 50%;
  }
  .v369_2671 {
    width: 62px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 42px;
    left: 1292px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v369_2672 {
    width: 100%;
    height: 75px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 949px;
    left: 0px;
    overflow: hidden;
  }
  .v369_2673 {
    width: 368px;
    color: rgba(32,34,73,1);
    position: absolute;
    top: 976px;
    left: 75px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v369_2675 {
    width: 371px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 438px;
    left: 854px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v369_2676 {
    width: 371px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 485px;
    left: 854px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v369_2677 {
    width: 371px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 438px;
    left: 854px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v369_2678 {
    width: 371px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 485px;
    left: 854px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v369_2679 {
    width: 24px;
    height: 24px;
    background: url("../images/v369_2679.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 436px;
    left: 91px;
    border: 2.5px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v369_2680 {
    width: 24px;
    height: 24px;
    background: url("../images/v369_2680.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 91px;
    border: 2.5px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v369_2681 {
    width: 24px;
    height: 24px;
    background: url("../images/v369_2681.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 436px;
    left: 91px;
    border: 2.5px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v369_2682 {
    width: 24px;
    height: 24px;
    background: url("../images/v369_2682.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 91px;
    border: 2.5px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v369_2683 {
    width: 115px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 437px;
    left: 697px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2684 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 484px;
    left: 712px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2685 {
    width: 79px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 437px;
    left: 530px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2686 {
    width: 79px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 484px;
    left: 530px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2687 {
    width: 67px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 484px;
    left: 253px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2688 {
    width: 94px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 438px;
    left: 239px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2689 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2689.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 403px;
    left: 1311px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v369_2690 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2690.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
    transform: rotate(-180deg);
  }
  .v369_2691 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2691.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 1311px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v369_2692 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2692.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
    transform: rotate(-180deg);
  }
  .v369_2693 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2693.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 497px;
    left: 1311px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v369_2694 {
    width: 8px;
    height: 5px;
    background: url("../images/v369_2694.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
    transform: rotate(-180deg);
  }
  .v369_2695 {
    width: 60px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 992px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .v369_2696 {
    width: 133px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 39px;
    left: 1078px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }