* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v199_728 {
    width: 100%;
    height: 1024px;
    background: rgba(32,34,73,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v199_730 {
    width: 100%;
    height: 100%;
    background: url("../images/v199_730.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 63px;
    left: 22px;
    overflow: hidden;
  }
  .v199_731 {
    width: 100%;
    height: 100%;
    background: url("../images/v199_731.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v199_732 {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v286_1357 {
    width: 311px;
    height: 311px;
    background: rgba(32,34,73,1);
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 565px;
    border-radius: 50%;
  }
  .v286_1358 {
    width: 452px;
    height: 653px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 495px;
    overflow: hidden;
  }
  .v199_733 {
    width: 450px;
    height: 653px;
    background: rgba(255,255,255,0.25);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v199_734 {
    width: 146px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 123px;
    left: 154px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v199_736 {
    width: 280px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_737 {
    width: 280px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v202_692 {
    width: 280px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 308px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v202_705 {
    width: 280px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_738 {
    width: 38px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 198px;
    left: 140px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v199_739 {
    width: 20px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 259px;
    left: 140px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v202_693 {
    width: 62px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 322px;
    left: 140px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v202_706 {
    width: 66px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 384px;
    left: 140px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v199_740 {
    width: 297px;
    height: 45px;
    background: linear-gradient(rgba(113,153,203,1), rgba(149,207,129,0.8500000238418579));
    opacity: 1;
    position: absolute;
    top: 516px;
    left: 91px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v199_741 {
    width: 64px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 524px;
    left: 207px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v199_742 {
    width: 12px;
    height: 14px;
    background: url("../images/v199_742.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 118px;
    overflow: hidden;
  }
  .v199_743 {
    width: 12px;
    height: 5px;
    background: url("../images/v199_743.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v199_744 {
    width: 6px;
    height: 6px;
    background: url("../images/v199_744.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .name {
    color: #fff;
  }
  .v202_686 {
    width: 18px;
    height: 14px;
    background: url("../images/v202_686.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 262px;
    left: 115px;
    overflow: hidden;
  }
  .v202_687 {
    width: 18px;
    height: 14px;
    background: url("../images/v202_687.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.2999999523162842px solid rgba(0,0,0,1);
  }
  .v202_688 {
    width: 3px;
    height: 1px;
    background: url("../images/v202_688.png");
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 12px;
    border: 1.2999999523162842px solid rgba(0,0,0,1);
  }
  .v202_689 {
    width: 3px;
    height: 1px;
    background: url("../images/v202_689.png");
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 12px;
    border: 1.2999999523162842px solid rgba(0,0,0,1);
  }
  .v202_690 {
    width: 4px;
    height: 4px;
    background: url("../images/v202_690.png");
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 4px;
    border: 1.2999999523162842px solid rgba(0,0,0,1);
  }
  .v202_691 {
    width: 1px;
    height: 8px;
    background: url("../images/v202_691.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 10px;
    border: 1.2999999523162842px solid rgba(0,0,0,1);
  }
  .v202_700 {
    width: 15px;
    height: 14px;
    background: url("../images/v202_700.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 117px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v202_712 {
    width: 13px;
    height: 14px;
    background: url("../images/v202_712.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 386px;
    left: 118px;
    overflow: hidden;
  }
  .v202_713 {
    width: 13px;
    height: 14px;
    background: url("../images/v202_713.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(0,0,0,1);
  }
  .v202_723 {
    width: 194px;
    height: 38px;
    background: rgba(255,188,15,1);
    opacity: 1;
    position: absolute;
    top: 578px;
    left: 141px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }
  .v202_726 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 588px;
    left: 220px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v303_1645 {
    width: 262px;
    height: 51px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 106px;
    overflow: hidden;
  }
  .v303_1646 {
    width: 203px;
    color: linear-gradient(rgba(255,255,255,1), rgba(4,158,219,1));
    position: absolute;
    top: 7px;
    left: 60px;
    text-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v303_1647 {
    width: 44px;
    height: 10px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .v303_1648 {
    width: 33px;
    height: 33px;
    background: url("../images/v303_1648.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 21px;
    overflow: hidden;
  }
  .v303_1649 {
    width: 33px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v303_1650 {
    width: 16px;
    height: 16px;
    background: linear-gradient(rgba(149,207,129,1), rgba(4,158,219,1));
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 6px;
    border-radius: 50%;
  }
  .v303_1651 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 27px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(-13deg);
    overflow: hidden;
  }
  .v303_1652 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: rotate(-131deg);
    overflow: hidden;
  }
  .v303_1653 {
    width: 5px;
    height: 8px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 39px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  } 